<div class="tw-flex tw-min-h-full tw-items-center tw-justify-center tw-py-12 tw-px-4 sm:px-6 lg:px-8">
  <div class="tw-w-full tw-max-w-lg tw-space-y-8 tw-m-auto">
    <form (ngSubmit)="save()" [formGroup]="editForm" class="tw-flex tw-flex-col" name="editForm" novalidate role="form">
      <h2
        class="tw-text-center tw-text-3xl tw-font-bold tw-tracking-tight tw-text-gray-900 tw-mb-4"
        id="myUserLabel"
        jhiTranslate="userManagement.home.createOrEditLabel"
      >
        Create or edit a user
      </h2>

      <jhi-alert-error></jhi-alert-error>

      <mat-form-field appearance="outline">
        <mat-label class="form-label" jhiTranslate="userManagement.email">Email</mat-label>
        <input formControlName="email" matInput name="email" type="email" />

        <mat-error *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
          This field is required.
        </mat-error>

        <mat-error
          *ngIf="editForm.get('email')?.errors?.maxlength"
          [translateValues]="{ max: 100 }"
          jhiTranslate="entity.validation.maxlength"
        >
          This field cannot be longer than 100 characters.
        </mat-error>

        <mat-error
          *ngIf="editForm.get('email')?.errors?.minlength"
          [translateValues]="{ min: 5 }"
          jhiTranslate="entity.validation.minlength"
        >
          This field is required to be at least 5 characters.
        </mat-error>

        <mat-error *ngIf="editForm.get('email')?.errors?.email" jhiTranslate="global.messages.validate.email.invalid">
          Your email is invalid.
        </mat-error>
      </mat-form-field>

      <div class="tw-flex tw-flex-col sm:tw-flex-row tw-items-center tw-justify-between tw-gap-0 sm:gap-3 tw-gap-x-4 tw-w-full">
        <mat-form-field appearance="outline" class="tw-w-full">
          <mat-label class="form-label" jhiTranslate="userManagement.firstName">First name</mat-label>
          <input formControlName="firstName" matInput name="firstName" type="text" />

          <mat-error
            *ngIf="editForm.get('firstName')?.errors?.maxlength"
            [translateValues]="{ max: 50 }"
            jhiTranslate="entity.validation.maxlength"
          >
            This field cannot be longer than 50 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="tw-w-full">
          <mat-label jhiTranslate="userManagement.lastName">Last name</mat-label>
          <input formControlName="lastName" matInput name="lastName" type="text" />

          <mat-error
            *ngIf="editForm.get('lastName')?.errors?.maxlength"
            [translateValues]="{ max: 50 }"
            jhiTranslate="entity.validation.maxlength"
          >
            This field cannot be longer than 50 characters.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="tw-flex tw-items-center tw-pb-3">
        <mat-checkbox
          [attr.disabled]="this.id === undefined ? 'disabled' : null"
          color="primary"
          formControlName="activated"
          id="activated"
          name="activated"
        >
          <span jhiTranslate="userManagement.activated">Activated</span>
        </mat-checkbox>
      </div>

      <mat-form-field *ngIf="languages && languages.length > 0" appearance="outline">
        <mat-label jhiTranslate="userManagement.langKey">Language</mat-label>
        <mat-select formControlName="langKey" id="langKey" name="langKey">
          <mat-option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="userManagement.profiles">Profiles</mat-label>
        <mat-select formControlName="authorities" multiple name="authority">
          <mat-option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="tw-flex tw-flex-row tw-items-center tw-justify-end tw-gap-3 tw-w-full">
        <button (click)="previousState()" mat-stroked-button type="button">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button [disabled]="editForm.invalid || isSaving" color="primary" mat-flat-button type="submit">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
