<div class="tw-flex tw-min-h-full tw-items-center tw-justify-center tw-py-12 tw-px-4 sm:tw-px-6 lg:tw-px-8">
  <div class="tw-w-full tw-max-w-md tw-space-y-8 tw-m-auto">
    <div>
      <img class="tw-mx-auto tw-h-12 tw-w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" />
      <h1 class="tw-mt-6 tw-text-center tw-text-3xl tw-font-bold tw-tracking-tight tw-text-gray-900" jhiTranslate="reset.finish.title">
        Reset password
      </h1>
      <p class="tw-mb-6 tw-mt-2 tw-text-center tw-text-sm tw-font-medium text-black-600" *ngIf="key && !success">
        <span jhiTranslate="reset.finish.messages.info">Choose a new password</span>
      </p>
    </div>
    <p
      class="tw-mb-6 tw-text-center tw-text-sm tw-font-medium tw-text-red-600"
      jhiTranslate="reset.finish.messages.keymissing"
      *ngIf="initialized && !key"
    >
      The reset key is missing.
    </p>

    <p class="tw-mb-6 tw-text-center tw-text-sm tw-font-medium tw-text-red-600" *ngIf="error">
      <span jhiTranslate="reset.finish.messages.error"
        >Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span
      >
    </p>

    <p class="tw-mb-6 tw-text-center tw-text-sm tw-font-medium tw-text-green-600" *ngIf="success">
      <span jhiTranslate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
      <a class="tw-font-medium text-primary" routerLink="/login" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
    </p>

    <p
      class="tw-mb-6 tw-text-center tw-text-sm tw-font-medium tw-text-red-600"
      *ngIf="doNotMatch"
      jhiTranslate="global.messages.error.dontmatch"
    >
      The password and its confirmation do not match!
    </p>

    <div *ngIf="key && !success">
      <form
        class="form tw-flex tw-flex-col tw-gap-0 sm:!gap-0"
        name="form"
        role="form"
        (ngSubmit)="finishReset()"
        [formGroup]="passwordForm"
      >
        <mat-form-field appearance="outline">
          <mat-label jhiTranslate="global.form.newpassword.label">New password</mat-label>
          <input
            matInput
            type="password"
            id="newPassword"
            name="newPassword"
            formControlName="newPassword"
            data-cy="resetPassword"
            #newPassword
          />

          <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.required" jhiTranslate="global.messages.validate.newpassword.required">
            Your password is required.
          </mat-error>

          <mat-error
            *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
            jhiTranslate="global.messages.validate.newpassword.minlength"
          >
            Your password is required to be at least 4 characters.
          </mat-error>

          <mat-error
            *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
            jhiTranslate="global.messages.validate.newpassword.maxlength"
          >
            Your password cannot be longer than 50 characters.
          </mat-error>
        </mat-form-field>

        <mat-password-strength class="tw-pb-3" [password]="passwordForm.get('newPassword')!.value"></mat-password-strength>

        <mat-form-field appearance="outline">
          <mat-label jhiTranslate="global.form.confirmpassword.label">New password confirmation </mat-label>
          <input
            matInput
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
            data-cy="confirmResetPassword"
          />

          <mat-error
            *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
            jhiTranslate="global.messages.validate.confirmpassword.required"
          >
            Your confirmation password is required.
          </mat-error>

          <mat-error
            *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
            jhiTranslate="global.messages.validate.confirmpassword.minlength"
          >
            Your confirmation password is required to be at least 4 characters.
          </mat-error>

          <mat-error
            *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
            jhiTranslate="global.messages.validate.confirmpassword.maxlength"
          >
            Your confirmation password cannot be longer than 50 characters.
          </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="passwordForm.invalid"
          jhiTranslate="reset.finish.form.button"
          data-cy="submit"
        >
          Validate new password
        </button>
      </form>
    </div>
  </div>
</div>
