.shop {
  min-height: 100vh;
}

.id {
  max-width: 50px;
}

.h-full {
  height: 100%;
}

table {
  width: 100%;
}

tr.mat-row {
  height: 80px;
}

td.mat-cell,
td.mat-footer-cell {
  font-size: 17px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  text-align: right;
}

.product {
  cursor: pointer;
  min-height: 8em;
  min-width: 8em;
  user-select: none;
}

.product {
  background-color: rgba(3, 58, 51, 0.08);
}

.product:hover {
  background-color: rgba(241, 241, 241, 0.68);
}

.product:active {
  background-color: #eae9e9;
}

.product .name {
  font-weight: 800;
  font-size: 20px;
}

.product .price {
  font-weight: 400;
  font-size: 20px;
}

.bg-icon {
  position: absolute;
  bottom: -10px;
  right: 0;
  padding-right: 10px;
  font-size: 4em;
  color: rgba(0, 0, 0, 0.07);
}

.mat-icon {
  color: rgba(0, 0, 0, 0.56);
}

.mat-icon-button {
  padding-right: 8px;
  padding-left: 8px;
}

.checkout {
  height: 3.5em;
}

.empty {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 500;
  color: hsl(243, 17%, 22%);
}

@media (max-width: 600px) {
  .empty {
    font-size: 15px;
  }

  tr th:nth-child(2),
  tr td:nth-child(2) {
    display: none;
  }

  td.mat-cell,
  td.mat-footer-cell {
    font-size: 10px;
  }

  .mat-icon-button {
    padding: 0;
  }
}
