<div class="shop container-fluid">
  <div class="row h-full">
    <div class="col-md-4 h-full">
      <div class="bill h-full">
        <table [dataSource]="cart" class="mat-elevation-z8 h-full" mat-table>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element" class="text-truncate id">{{ element.id }}</td>
            <td *matFooterCellDef jhiTranslate="shop.product.total" mat-footer-cell>Total</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef jhiTranslate="shop.product.name" mat-header-cell>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="qty">
            <th *matHeaderCellDef jhiTranslate="shop.product.qty" mat-header-cell>Qty.</th>
            <td mat-cell *matCellDef="let element">{{ element.qty }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="price">
            <th *matHeaderCellDef jhiTranslate="shop.product.price" mat-header-cell>Price</th>
            <td mat-cell *matCellDef="let element">{{ element.price * element.qty | currency }}</td>
            <td mat-footer-cell *matFooterCellDef>{{ getTotalCost() | currency }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="toolbar">
            <th *matHeaderCellDef mat-header-cell>
              <button
                (click)="emptyCart()"
                [disabled]="cart.data.length === 0"
                aria-label="Empty cart"
                jhiTranslate="shop.cart.empty"
                mat-stroked-button
              >
                <mat-icon>delete</mat-icon>
                Empty cart
              </button>
            </th>
            <td *matCellDef="let element" mat-cell>
              <button (click)="removeOneCartItem(element)" mat-icon-button>
                <mat-icon>remove</mat-icon>
              </button>
              <button (click)="deleteCartItems(element)" aria-label="Delete element" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
              <button (click)="increaseOneCartItem(element)" mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </td>
            <td *matFooterCellDef mat-footer-cell></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="getDataSource()"></tr>
          <tr mat-row *matRowDef="let row; columns: getDataSource()"></tr>
          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell pt-2" colspan="5">
              <img src="content/images/empty-cart.svg" />
              <p class="text-center empty" jhiTranslate="shop.cart.isEmpty">Your shopping cart is empty!</p>
            </td>
          </tr>
          <tr mat-footer-row *matFooterRowDef="getDataSource()"></tr>
        </table>
        <button
          (click)="checkOut()"
          [disabled]="cart.data.length === 0"
          class="mt-4 full-width checkout"
          color="primary"
          jhiTranslate="shop.cart.checkout"
          mat-flat-button
        >
          <fa-icon icon="shopping-cart"></fa-icon>
          Checkout
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        <div class="search-wrapper">
          <fa-icon icon="magnifying-glass"></fa-icon>
          <input
            (keydown)="handleKeyDown($event)"
            [(ngModel)]="productId"
            matInput
            #idInput="matInput"
            (focusout)="onBlur($event)"
            cdkFocusInitial
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            placeholder="Ex. ISBN/Barcode/ID"
          />
        </div>
        <div class="row mx-auto my-auto g-3">
          <div class="col-6 col-md-2" *ngFor="let product of products">
            <mat-card class="product" (click)="addProductToCart(product)">
              <mat-card-content>
                <p class="name">{{ product.name }}</p>
                <p class="price">{{ product.price | currency }}</p>
                <fa-icon *ngIf="product.iconName" [icon]="iconToProp(product.iconName)" class="bg-icon"></fa-icon>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-6 col-md-2" *ngFor="let category of categories">
            <mat-card class="product" (click)="addCategoryToCart(category)">
              <mat-card-content>
                <p class="name">{{ category.name }}</p>
                <fa-icon *ngIf="category.iconName" class="bg-icon"></fa-icon>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
