<div class="shop container-fluid">
  <div class="row tw-h-full">
    <div class="col-md-4 tw-h-full">
      <div class="search-wrapper tw-mb-3">
        <fa-icon icon="magnifying-glass"></fa-icon>
        <input
          #idInput="matInput"
          (focusout)="onBlur($event)"
          (keydown)="handleKeyDown($event)"
          [(ngModel)]="productId"
          cdkFocusInitial
          matInput
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
          placeholder="Ex. ISBN/Barcode/ID"
        />
      </div>
      <div class="tw-tw-h-full">
        <table [dataSource]="cart" class="mat-elevation-z8 tw-h-full" mat-table>
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>#</th>
            <td *matCellDef="let element" class="text-truncate id" mat-cell>{{ element.id }}</td>
            <td *matFooterCellDef jhiTranslate="shop.product.total" mat-footer-cell>Total</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef jhiTranslate="shop.product.name" mat-header-cell>Name</th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
            <td *matFooterCellDef mat-footer-cell></td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="qty">
            <th *matHeaderCellDef jhiTranslate="shop.product.qty" mat-header-cell>Qty.</th>
            <td *matCellDef="let element" mat-cell>{{ element.qty }}</td>
            <td *matFooterCellDef mat-footer-cell></td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="price">
            <th *matHeaderCellDef jhiTranslate="shop.product.price" mat-header-cell>Price</th>
            <td *matCellDef="let element" mat-cell>{{ element.price * element.qty | currency }}</td>
            <td *matFooterCellDef mat-footer-cell>{{ getTotalCost() | currency }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="toolbar">
            <th *matHeaderCellDef mat-header-cell>
              <button
                class="tw-h-12 tw-m-2 tw-w-36 tw-font-bold"
                (click)="emptyCart()"
                [disabled]="cart.data.length === 0"
                aria-label="Empty cart"
                jhiTranslate="shop.cart.empty"
                mat-stroked-button
              >
                <mat-icon>delete</mat-icon>
                Empty cart
              </button>
            </th>
            <td *matCellDef="let element" mat-cell>
              <button
                (click)="removeOneCartItem(element)"
                class="tw-bg-white tw-mr-1 tw-shadow-none tw-ring-2 tw-ring-slate-200 active:tw-bg-slate-200"
                mat-fab
              >
                <mat-icon>remove</mat-icon>
              </button>
              <button
                (click)="deleteCartItems(element)"
                aria-label="Delete element"
                class="tw-bg-white tw-mr-1 tw-shadow-none tw-ring-2 tw-ring-slate-200 active:tw-bg-slate-200"
                mat-fab
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                (click)="increaseOneCartItem(element)"
                class="tw-bg-white tw-mr-1 tw-shadow-none tw-ring-2 tw-ring-slate-200 active:tw-bg-slate-200"
                mat-fab
              >
                <mat-icon>add</mat-icon>
              </button>
            </td>
            <td *matFooterCellDef mat-footer-cell></td>
          </ng-container>

          <tr *matHeaderRowDef="getDataSource()" mat-header-row></tr>
          <tr *matRowDef="let row; columns: getDataSource()" mat-row></tr>
          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell pt-2" colspan="5">
              <img src="content/images/empty-cart.svg" />
              <p class="text-center empty" jhiTranslate="shop.cart.isEmpty">Your shopping cart is empty!</p>
            </td>
          </tr>
          <tr *matFooterRowDef="getDataSource()" mat-footer-row></tr>
        </table>
        <button
          (click)="checkOut()"
          [disabled]="cart.data.length === 0"
          class="mt-4 full-width checkout"
          color="primary"
          jhiTranslate="shop.cart.checkout"
          mat-flat-button
        >
          <fa-icon icon="shopping-cart"></fa-icon>
          Checkout
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tw-grid tw-grid-cols-5 tw-gap-4">
        <div *ngFor="let product of products">
          <mat-card (click)="addProductToCart(product)" (keydown.enter)="addProductToCart(product)" class="product" tabindex="0">
            <mat-card-content>
              <p class="name">{{ product.name }}</p>
              <p class="price">{{ product.price | currency }}</p>
              <fa-icon *ngIf="product.iconName" [icon]="iconToProp(product.iconName)" class="bg-icon"></fa-icon>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngFor="let category of categories">
          <mat-card (click)="addCategoryToCart(category)" (keydown.enter)="addCategoryToCart(category)" class="product" tabindex="0">
            <mat-card-content>
              <p class="name">{{ category.name }}</p>
              <fa-icon *ngIf="category.iconName" class="bg-icon"></fa-icon>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
