<div class="tw-flex tw-min-h-full tw-items-center tw-justify-center tw-py-12 tw-px-4 tw-sm:tw-px-6 tw-lg:tw-px-8">
  <div class="tw-w-full tw-max-w-md tw-space-y-8 tw-m-auto">
    <div>
      <img class="tw-mx-auto tw-h-24 tw-w-auto" src="favicon.ico" alt="Libraary" />
      <h2
        jhiTranslate="login.title"
        data-cy="loginTitle"
        class="tw-mt-6 tw-text-center tw-text-3xl tw-font-bold tw-tracking-tight tw-text-gray-900"
      >
        Sign in to your account
      </h2>
      <p class="tw-mt-2 tw-text-center tw-text-sm tw-text-gray-600">
        Or
        <a class="tw-font-medium tw-text-primary" routerLink="/account/register" jhiTranslate="global.messages.info.register.link"
          >Register a new account</a
        >
      </p>
    </div>
    <p
      class="tw-mb-6 tw-text-center tw-text-sm tw-font-medium tw-text-red-600"
      *ngIf="authenticationError"
      jhiTranslate="login.messages.error.authentication"
      data-cy="loginError"
    >
      Failed to sign in! Please check your credentials and try again.
    </p>
    <form class="form tw-flex tw-flex-col" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="global.form.email.placeholder">Your Email</mat-label>
        <input matInput type="text" name="username" id="username" formControlName="username" #username data-cy="username" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="login.form.password.placeholder">You Password</mat-label>
        <input matInput type="password" name="password" id="password" formControlName="password" data-cy="password" />
      </mat-form-field>

      <div class="tw-flex tw-flex-col sm:tw-flex-row tw-items-center tw-justify-between tw-pb-3">
        <div class="tw-flex tw-items-center">
          <mat-checkbox formControlName="rememberMe" color="primary"
            ><span jhiTranslate="login.form.rememberme">Remember me</span>
          </mat-checkbox>
        </div>
        <div class="tw-text-sm p3">
          <a
            routerLink="/account/reset/request"
            jhiTranslate="login.password.forgot"
            data-cy="forgetYourPasswordSelector"
            class="tw-font-medium text-primary"
            >Forgot your password?</a
          >
        </div>
      </div>

      <button
        mat-flat-button
        color="primary"
        [disabled]="loginForm.invalid"
        type="submit"
        jhiTranslate="login.form.button"
        data-cy="submit"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
