<div class="tw-flex tw-min-h-full tw-items-center tw-justify-center tw-py-12 tw-px-4 sm:tw-px-6 lg:tw-px-8">
  <div class="tw-w-full tw-max-w-md tw-space-y-8 tw-m-auto">
    <div>
      <img class="tw-mx-auto tw-h-12 tw-w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" />
      <h1
        jhiTranslate="reset.request.title"
        data-cy="loginTitle"
        class="tw-mt-6 tw-text-center tw-text-3xl tw-font-bold tw-tracking-tight tw-text-gray-900"
      >
        Reset your password
      </h1>
      <p
        class="tw-mt-2 tw-text-center tw-text-sm tw-font-medium text-black-600"
        *ngIf="!success"
        jhiTranslate="reset.request.messages.info"
      >
        Enter the email address you used to register
      </p>
      <jhi-alert-error></jhi-alert-error>
    </div>
    <p
      class="tw-mb-6 tw-text-center tw-text-sm tw-font-medium tw-text-green-600"
      *ngIf="success"
      jhiTranslate="reset.request.messages.success"
    >
      Check your emails for details on how to reset your password.
    </p>
    <form
      class="form tw-flex tw-flex-col"
      *ngIf="!success"
      name="form"
      role="form"
      (ngSubmit)="requestReset()"
      [formGroup]="resetRequestForm"
    >
      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="global.form.email.label">Email</mat-label>
        <input matInput type="email" id="email" name="email" formControlName="email" data-cy="emailResetPassword" #email />
        <mat-error *ngIf="resetRequestForm.get('email')?.errors?.required" jhiTranslate="global.messages.validate.email.required">
          Your email is required.
        </mat-error>

        <mat-error *ngIf="resetRequestForm.get('email')?.errors?.email" jhiTranslate="global.messages.validate.email.invalid">
          Your email is invalid.
        </mat-error>

        <mat-error *ngIf="resetRequestForm.get('email')?.errors?.minlength" jhiTranslate="global.messages.validate.email.minlength">
          Your emmat-errorail is required to be at least 5 characters.
        </mat-error>

        <mat-error *ngIf="resetRequestForm.get('email')?.errors?.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
          Your email cannot be longer than 50 characters.
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="resetRequestForm.invalid"
        jhiTranslate="reset.request.form.button"
        data-cy="submit"
      >
        Reset password
      </button>
    </form>
  </div>
</div>
